@{
    ViewData["Title"] = "View";
}

<h1>Medidores</h1>

<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>Model</th>
            <th>SerialNumber</th>
            <th>CustomerNumber</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Notes</th>
            <th>Status</th>
            <th>LastLecture</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
