@model List<Measurer>
@{
    ViewData["Title"] = "Home Page";
}


<table id="grid"></table>

@section Scripts{

    <script>
        $(document).ready(function () {
            /*$('#datatable').DataTable()*/

/*            let table = new DataTable('#dataTable');*/

            grid = $("#grid").grid({
                dataSource: "../Home/GetMeasurers",
                columns: [
                    { field: "model", title: "Modelo"},
                    { field: "serialNumber" , title: "Numero"},
                    { field: "customerNumber", title: "Cliente"},
                    { field: "name", title: "Nombre"},
                    { field: "address", title: "Direccion"},
                    { field: "city", title: "Ciudad"},
                    { field: "notes", title: "Nota"},
                    { field: "status", title: "Estado"},
                    { field: "lastLecture", title: "Ultima Lectura"}
                ],
                pager: { enable: true, limit: 10, sizes: [2, 5, 10, 20] }
            });
        });
    </script>
}
