@model List<Measurer>
@{
    ViewData["Title"] = "Home Page";
}


@*@Html.Partial("_MeasurersList")*@


<table id="grid"></table>

@section Scripts{

    <link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            /*$('#datatable').DataTable()*/

/*            let table = new DataTable('#dataTable');*/

            grid = $("#grid").grid({
                dataSource: "../Home/GetMeasurers",
                columns: [
                    { field: "model" },
                    { field: "serialNumber" },
                    { field: "customerNumber" },
                    { field: "name" },
                    { field: "address" },
                    { field: "city" },
                    { field: "notes" },
                    { field: "status" },
                    { field: "lastLecture" }
                ],
                pager: { enable: true, limit: 10, sizes: [2, 5, 10, 20] }
            });
        });
    </script>
}
